<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(${entityName} + ' List')"></head>
<body>
<header th:replace="fragments/layout :: header(${entityName} + ' List')"></header>
<div th:replace="fragments/layout :: alerts(${success}, ${error})"></div>

<a class="btn" th:href="@{/{path}/new(path=${basePath})}">Create New</a>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="entity : ${entities}">
    <td th:text="${entity.id}">1</td>
    <td th:text="${entity.name}">Name</td>
    <td>
      <a th:href="@{/{path}/{id}(path=${basePath},id=${entity.id})}">View</a>
      <a th:href="@{/{path}/edit/{id}(path=${basePath},id=${entity.id})}">Edit</a>
      <a th:href="@{/{path}/delete/{id}(path=${basePath},id=${entity.id})}">Delete</a>
    </td>
  </tr>
  </tbody>
</table>

<div th:replace="fragments/layout :: actions(${basePath})"></div>
<div th:replace="fragments/layout :: footer"></div>
</body>
</html>
